.boton{
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 18px;
}

.boton--prueba-1{
    @extend .boton;
    background-color: yellow;
    color: black;
}

.boton--prueba-2{
    @extend .boton;
    background-color: rgb(0, 89, 255);
    color: rgb(23, 235, 76);
}