$colors: (
    primario: #1e59da,
    secundario: #d5aa96,
    terceario: #533d26,
    cuaternario: #120804
);

@each $name-color, $bgcolor in $colors {
    .btn--#{$name-color} {
        background-color: $bgcolor;
    }
 }

 header {
     background-color: map-get($colors, terceario);
 }

 footer{
    background-color: map-get($colors, cuaternario);
 }